.error-text {
    font-size: 14px;
    margin-top: -3px;
    padding-left: 3px;
}
.box-alert {
    width: 400px;
    position: fixed;
    top: 80px;
    right: 30px;
    z-index: 9999999;
}
.avatar {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.avatar-box {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    max-width: 170px;
}
.f-icon {
    color: white;
    margin-top: 10px;
    font-size:14px
}
.f-name {
    color: white;
    margin-top: 5px;
    font-size:14px;
    margin-right: 5px;
    max-width: 88px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
