.no-bg {
    background-image: url('/images/hero-header/03.jpg');
}

.edit-gallery-img {
    max-height: 20vh;
}

.img-btn {
    margin: auto;
}

#img_gallery {
    margin-bottom: 5vh;
}

.galleryDetail {
    display: inline-block;
    position: relative;
    width: auto;
    vertical-align: top;
    margin: 5vh;
}

.btn-change-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 27px;
    line-height: 20px;
    margin-right: 1vh;
}

.breadcrumb-image-bg {
    background-image: url('/images/hero-header/02.jpg');
}

hr.style1 {
    border-top: 1px solid #8c8b8b;
}

#user_name {
    margin-top: 3vh;
}

.qoute {
    width: 80vh;
    height: 15vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.tab-pane {
    min-height: 50vh;
}

.blueprint-description {
    max-height: 19vh;
    overflow-y: hidden;
}

.breadcrumb-image-bg {
    background-image: url('/images/hero-header/05.jpg');
}

.request-blueprint {
    background-image: none;
    background-color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.chat {
    width: 400px;
}

.bubble {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 20px;
}

.me {
    float: left;
    margin: 5px 45px 5px 20px;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    left: -9px;
}

.you {
    float: right;
    margin: 5px 20px 5px 45px;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, .4);
    right: -9px;
}

#request-details {
    border-left: 1px solid black;
    padding-left: 2vh;
}

.btn-reply {
    float: right;
}

#request-message-top {
    padding-bottom: 2vh;
    border-bottom: 1px solid black;
}

#message-title {
    padding-top: 2vh;
}

#detail-title {
    padding-top: 2vh;
}

.create_at {
    font-size: 10px;
}

#reply-input {
    float: right;
    padding: 0px;
    margin: 0px;
}
.text_left{
    text-align: left;
}