.no-bg{
	background-image:url('/images/hero-header/03.jpg');
}
.edit-gallery-img{
	max-height: 20vh;
}
.img-btn{
	margin: auto;
}
#img_gallery{
	margin-bottom: 5vh;
}

.galleryDetail{
  display:inline-block;
  position:relative;
  width:auto;
  vertical-align:top;
  margin:5vh;
}
.btn-change-img{
  position:absolute;
  top:0;
  right:0;
  width:27px;
  height:27px;
  line-height:20px;
  margin-right:1vh;
}
.breadcrumb-image-bg{
  background-image:url('/images/hero-header/02.jpg');
}
hr.style1{
  border-top: 1px solid #8c8b8b;
}
